@use "base";


html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}


main {
  flex: 1;
  display: flex;
  justify-content: center; 
  align-items: center;   
}


.containerGame {
  flex: 2;
    display: flex;
    flex-direction: column;
    gap: 20px;              
    width: 90%;
    max-width: 800px;       
    text-align: center;
}

.result{
  margin: 0px;
  gap:0;
}

.computer{
    min-height: 220px;
        background-color: #7c8f52;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
 
}

.playerArea {
  display:flex;
  flex-direction: column;
      min-height: 220px;
        background-color: #7c8f52;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  text-align: center;
}

.player{
  min-height: 220px;
}

.controls, .betting{
  margin: base.$sp;
}


.gameFooter {
    display: flex;    
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    width: 100%;

    
}

.footerContent{
    max-width: 800px;   
  margin: 0 auto;     
gap: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.balanceSection{
  display: flex;
  align-items: center;
  gap: 30px;

  
}

.balanceInfo{
  display: flex;
  flex-direction: column;
}

// .depositControls input{
//     width: 100px;
//   padding: 6px 8px;
//   border-radius: 6px;
  
//   border: none;
//   outline: none;
// }



// .userinfo, .balanceInfo {
//   width: 100%;
//   gap: 20px;
//   padding: base.$lp;
//   background-color: #222;
//   color: white;
//   align-items: center;
//   display: flex;
// }

.userinfo{
  display: flex;
  align-items: center;
  gap: 20px
}
