@use "base";

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerGame {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  max-width: 800px;
  text-align: center;
  position: relative;
}

.result {
  position: absolute;
  top: 34%;
  left: 38%;
  width: 20%;
  height: 10%;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10px;
  background: rgba(0, 0, 0, 0.6);
  border: solid 2px white;
  z-index: 100;
  font-size: 1em;
  font-variant-caps: all-petite-caps;

  opacity: 0;
}

.result.show {
  opacity: 1;
}

.computer {
  min-height: 220px;
  background-color: base.$bg-color2;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.playerArea {
  display: flex;
  flex-direction: column;
  min-height: 220px;
  background-color: base.$bg-color2;
  color: #000000;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.player {
  min-height: 220px;
}

.controls,
.betting {
  margin: base.$sp;
}

.gameFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  width: 100%;
}

.footerContent {
  max-width: 800px;
  margin: 0 auto;
  gap: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.balanceSection {
  display: flex;
  align-items: center;
  gap: 30px;
}

.balanceInfo {
  display: flex;
  flex-direction: column;
}


.userinfo {
  display: flex;
  align-items: center;
  gap: 20px;
}

div.rulesModal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;  

  &.is-visible {
    display: flex; 
  }
}

.rulesModal-box {
  background-color: base.$bg-color;
  border: solid 2px base.$bg-color2;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 500px;
  text-align: left;
  display: flex;
  flex-direction: column;
} 

.modal-header {
  display: flex;
  justify-content: flex-end; 
  width: 100%;
}

.modal-close {
  background: base.$accent1;
  border: none;
  color: white;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 5px 10px;
  line-height: 1;
  
  &:hover {
    background-color: base.$accent2; 
  }
}

.rulesText {
  font-size: 1em;
  white-space: pre-wrap;
  
}

.compact {
  margin: 0;
}